###############################################################################
# Normalizar saltos de línea
###############################################################################
* text=auto

###############################################################################
# Lenguajes principales
###############################################################################
*.cs linguist-detectable=true
*.csproj linguist-detectable=true
*.sln linguist-detectable=true

*.html linguist-detectable=true
*.cshtml linguist-detectable=true
*.razor linguist-detectable=true

*.js linguist-detectable=true
*.ts linguist-detectable=true

###############################################################################
# Ignorar librerías externas y archivos que no deberían contar
###############################################################################
# Frontend
node_modules/** linguist-vendored
wwwroot/lib/** linguist-vendored
/dist/** linguist-vendored
/vendor/** linguist-vendored

# Estilos
*.css linguist-vendored

# Archivos de compilación
bin/** linguist-vendored
obj/** linguist-vendored
*.dll linguist-vendored
*.exe linguist-vendored
*.pdb linguist-vendored

# Configuración de VS
*.suo linguist-vendored
*.user linguist-vendored
*.cache linguist-vendored
*.log linguist-vendored

# Documentos y assets
*.md linguist-vendored
*.txt linguist-vendored
*.pdf linguist-vendored
*.doc linguist-vendored
*.docx linguist-vendored
*.rtf linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.gif linguist-vendored
*.ico linguist-vendored
*.svg linguist-vendored
*.woff linguist-vendored
*.woff2 linguist-vendored
*.ttf linguist-vendored

# Configuración .NET
appsettings*.json linguist-vendored
