###############################################################################
# Normalizar saltos de línea
###############################################################################
* text=auto

###############################################################################
# Destacar C# / .NET como principal
###############################################################################
*.cs     linguist-detectable=true
*.csproj linguist-detectable=true
*.sln    linguist-detectable=true
*.cshtml linguist-detectable=true
*.razor  linguist-detectable=true

###############################################################################
# HTML siempre visible
###############################################################################
*.html   linguist-detectable=true

###############################################################################
# Reducir visibilidad de JavaScript y TypeScript
###############################################################################
*.js     linguist-detectable=false
*.ts     linguist-detectable=false
*.css    linguist-detectable=false
