###############################################################################
# Normalizar saltos de línea
###############################################################################
* text=auto

###############################################################################
# Forzar que solo C#/.NET cuente como código
###############################################################################
*.cs linguist-detectable=true
*.csproj linguist-detectable=true
*.sln linguist-detectable=true
*.cshtml linguist-detectable=true
*.razor linguist-detectable=true

###############################################################################
# Marcar TODO lo demás como vendored (no cuenta en estadísticas)
###############################################################################
*.js linguist-vendored
*.html linguist-vendored
*.html linguist-vendored
*.min.js linguist-vendored
*.json linguist-vendored
*.css linguist-vendored

# Archivos de compilación
bin/** linguist-vendored
obj/** linguist-vendored
*.dll linguist-vendored
*.exe linguist-vendored
*.pdb linguist-vendored

# Configuración de VS
*.suo linguist-vendored
*.user linguist-vendored
*.cache linguist-vendored
*.log linguist-vendored

# Node / frontend
node_modules/** linguist-vendored
wwwroot/lib/** linguist-vendored
/dist/** linguist-vendored

# Otros assets
*.png linguist-vendored
*.jpg linguist-vendored
*.gif linguist-vendored
*.ico linguist-vendored
*.svg linguist-vendored
*.woff linguist-vendored
*.woff2 linguist-vendored
*.ttf linguist-vendored

# Documentos
*.md linguist-vendored
*.txt linguist-vendored
*.pdf linguist-vendored
*.doc linguist-vendored
*.docx linguist-vendored
*.rtf linguist-vendored

# Configuración .NET
appsettings*.json linguist-vendored
