USE [master]
GO
/****** Object:  Database [Quejas]    Script Date: 17/09/2025 23:02:26 ******/
CREATE DATABASE [Quejas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quejas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Quejas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quejas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Quejas_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quejas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quejas]
GO
/****** Object:  User [Quejas]    Script Date: 17/09/2025 23:02:27 ******/
CREATE USER [Quejas] FOR LOGIN [Quejas] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Quejas]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Apellido] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [varbinary](max) NOT NULL,
	[Restablecer] [bit] NOT NULL,
	[Estatus] [bit] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[EstadoActual] [nvarchar](50) NOT NULL,
	[Estatus] [bit] NOT NULL,
 CONSTRAINT [PK__Consulta__9B2AD1D80B3BB38C] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificacionAdmin]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificacionAdmin](
	[IdNotificacionAdmin] [int] IDENTITY(1,1) NOT NULL,
	[IdSolicitud] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdCliente] [int] NULL,
	[Fecha] [datetime] NULL,
	[Mensaje] [varchar](100) NULL,
	[Leido] [bit] NULL,
	[IdCategoria] [int] NULL,
 CONSTRAINT [PK__Respuest__CB145129B344E7A3] PRIMARY KEY CLUSTERED 
(
	[IdNotificacionAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[IdNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[Mensaje] [varchar](250) NULL,
	[Fecha] [datetime] NULL,
	[Leido] [bit] NULL,
 CONSTRAINT [PK_Notificaciones] PRIMARY KEY CLUSTERED 
(
	[IdNotificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puesto]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puesto](
	[IdPuesto] [int] IDENTITY(1,1) NOT NULL,
	[NombrePuesto] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_RespuestasSugerencia] PRIMARY KEY CLUSTERED 
(
	[IdPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[IdRoom] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Precio] [decimal](18, 0) NULL,
	[Cantidad] [int] NULL,
	[ImagenUrl] [nvarchar](255) NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[IdRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitud]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitud](
	[IdSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdUsuario] [int] NULL,
	[IdEstado] [int] NULL,
	[Comentario] [varchar](100) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Apellido] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Telefono] [nvarchar](50) NULL,
	[Referencia] [nvarchar](20) NULL,
	[Estatus] [bit] NOT NULL,
	[Respuesta] [varchar](500) NULL,
 CONSTRAINT [PK__Quejas__CDB958ABE06E9993] PRIMARY KEY CLUSTERED 
(
	[IdSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varbinary](max) NOT NULL,
	[Restablecer] [bit] NOT NULL,
	[Estatus] [bit] NOT NULL,
	[IdPuesto] [int] NOT NULL,
 CONSTRAINT [PK__Usuarios__5B65BF971E65DED0] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categoria] ADD  CONSTRAINT [DF_Categoria_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Categoria] ADD  CONSTRAINT [DF_Categoria_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Restablecer]  DEFAULT ((1)) FOR [Restablecer]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Estatus]  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[Estado] ADD  CONSTRAINT [DF_Estado_Estado]  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[NotificacionAdmin] ADD  CONSTRAINT [DF__Respuesta__Fecha__31EC6D26]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[NotificacionAdmin] ADD  CONSTRAINT [DF_NoficacionAdmin_Leido]  DEFAULT ((0)) FOR [Leido]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  CONSTRAINT [DF_Notificaciones_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  CONSTRAINT [DF_Notificaciones_Leido]  DEFAULT ((0)) FOR [Leido]
GO
ALTER TABLE [dbo].[Puesto] ADD  CONSTRAINT [DF_1_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Solicitud] ADD  CONSTRAINT [DF__Quejas__Estado__29572725]  DEFAULT ((1)) FOR [IdEstado]
GO
ALTER TABLE [dbo].[Solicitud] ADD  CONSTRAINT [DF__Quejas__Fecha__286302EC]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuarios__Restab__24927208]  DEFAULT ((1)) FOR [Restablecer]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuarios__Estatu__25869641]  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[NotificacionAdmin]  WITH CHECK ADD  CONSTRAINT [FK_RespuestaSolicitud_Solicitud] FOREIGN KEY([IdSolicitud])
REFERENCES [dbo].[Solicitud] ([IdSolicitud])
GO
ALTER TABLE [dbo].[NotificacionAdmin] CHECK CONSTRAINT [FK_RespuestaSolicitud_Solicitud]
GO
ALTER TABLE [dbo].[NotificacionAdmin]  WITH CHECK ADD  CONSTRAINT [FK_RespuestaSolicitud_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[NotificacionAdmin] CHECK CONSTRAINT [FK_RespuestaSolicitud_Usuarios]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_Categoria] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [FK_Solicitud_Categoria]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [FK_Solicitud_Cliente]
GO
ALTER TABLE [dbo].[Solicitud]  WITH CHECK ADD  CONSTRAINT [FK_Solicitud_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Solicitud] CHECK CONSTRAINT [FK_Solicitud_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Puesto] FOREIGN KEY([IdPuesto])
REFERENCES [dbo].[Puesto] ([IdPuesto])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Puesto]
GO
/****** Object:  StoredProcedure [dbo].[Desencriptar]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc  [dbo].[Desencriptar] 
@id int  
as 
SELECT Nombre, 
       CONVERT(VARCHAR, DECRYPTBYPASSPHRASE('quejas2025',Password )) AS contraseña_descifrada    
FROM Cliente     
where IdCliente =@id
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarCategoria]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarCategoria]
	@Tipo varchar(100),
	@Estado bit,
    @Mensaje varchar(500) output,
    @Resultado int output
AS
BEGIN
    Set @Resultado = 0
	If Not Exists (Select * From Categoria Where Tipo=@Tipo)
    Begin
        INSERT INTO Categoria 
		       (Tipo,Estado)
        VALUES (@Tipo,@Estado);
Set @Resultado = (Select @@IDENTITY)
End
	Else
		Set @Mensaje = 'Esta Categoria ya Existe!'
		end
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarCliente]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_AgregarCliente]
@Nombre varchar(50),
@Apellido varchar(50),
@Telefono varchar(50),
@Email varchar(100),
@Password varchar(25),
@Restablecer bit,
@Estatus bit,
@Patron varchar(25),
@Mensaje varchar(500) output,
@Resultado int output
As
Begin
	Set @Resultado = 0
	If Not Exists (Select * From Cliente Where Email=@Email)
	Begin
		Insert Into Cliente
		(Nombre,Apellido,Telefono,Email,Password,Restablecer,Estatus)
		values
		(@Nombre,@Apellido,@Telefono,@Email,EncryptByPassPhrase(@Patron,@Password),@Restablecer,@Estatus)
		Set @Resultado = (Select @@IDENTITY IdCliente)
	End
	Else
		Set @Mensaje = 'El correo del Cliente ya existe!'
End
--SP_AgregarUsuario 'Juan','Pérez','jp@gmail.com','123*',1,1,'D153ño'
--Update Usuario set Password=ENCRYPTBYPASSPHRASE('quejas2025','123*')
--SELECT 	IdUsuario,Nombre,Apellido,Puesto,Telefono,Email,CONVERT(varchar(25), DecryptByPassPhrase('quejas2025', Password)) AS ContrasenaDesencriptada,Restablecer,Estatus FROM Usuario

GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarEstado]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarEstado]
    @EstadoActual nvarchar(50),
	@Estatus bit,
    @Mensaje varchar(500) output,
    @Resultado int output
AS
BEGIN
    Set @Resultado = 0
	If Not Exists (Select * From Estado Where EstadoActual=@EstadoActual)
    Begin
        INSERT INTO Estado 
		       (EstadoActual,Estatus)
        VALUES (@EstadoActual,@Estatus);
Set @Resultado = (Select @@IDENTITY)
End
	Else
		Set @Mensaje = 'Este Estado ya Existe!'
		end


GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarRespuesta]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarRespuesta]
    @IdSolicitud INT,
    @IdUsuario INT,
    @IdEstado INT,
    @Respuesta VARCHAR(200),
    @Resultado INT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @Resultado = 0;
    SET @Mensaje = '';

    IF EXISTS (SELECT 1 FROM Solicitud WHERE IdSolicitud = @IdSolicitud)
    BEGIN
        INSERT INTO RespuestaSolicitud (IdSolicitud, IdUsuario, IdEstado, Respuesta)
        VALUES (@IdSolicitud, @IdUsuario, @IdEstado, @Respuesta)

        SET @Resultado = 1;
        SET @Mensaje = 'Respuesta agregada correctamente.';
    END
    ELSE
    BEGIN
        SET @Mensaje = 'La solicitud no existe.';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarSolicitud]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarSolicitud]
    @IdCliente INT,
    @IdCategoria INT,
    @IdUsuario INT = NULL,
    @IdEstado INT = NULL,
    @Comentario NVARCHAR(100),
    @Nombre NVARCHAR(150),
    @Apellido NVARCHAR(150),
    @Email NVARCHAR(200),
	@Respuesta nvarchar(500),
    @Telefono NVARCHAR(50),
    @Referencia NVARCHAR(20) = NULL, -- Valor por defecto NULL
    @Estatus BIT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado INT OUTPUT,
    @ReferenciaGenerada NVARCHAR(20) OUTPUT  -- Nuevo parámetro de salida para recuperar la REFERENCIA
AS
BEGIN
    SET NOCOUNT ON;
    SET @Resultado = 0;
    SET @Mensaje = '';

    -- Si @IdUsuario es NULL, obtener un IdUsuario aleatorio
    IF @IdUsuario IS NULL
    BEGIN
        SELECT TOP 1 @IdUsuario = IdUsuario FROM Usuario ORDER BY NEWID();
    END

	--Si la respuesta viene Vacia o Null, entonces agregamos por defecto la palabra Pendiente para manejarla en las vistas
	If @Respuesta is Null
	begin 
		set @Respuesta = 'Pendiente...';
	end

    -- Si @IdEstado es NULL, obtener el primer IdEstado (ordenado por IdEstado)
    IF @IdEstado IS NULL
    BEGIN
        SELECT TOP 1 @IdEstado = IdEstado FROM Estado ORDER BY IdEstado ASC;
    END

    -- Validar que la referencia no exista
    IF NOT EXISTS (SELECT 1 FROM Solicitud WHERE Referencia = @Referencia)
    BEGIN
        -- Insertar solicitud
        INSERT INTO Solicitud 
            (IdCliente, IdCategoria, IdUsuario, IdEstado, Comentario, Nombre, Apellido, Email, Telefono, Referencia, Estatus,Respuesta)
        VALUES 
            (@IdCliente, @IdCategoria, @IdUsuario, @IdEstado, @Comentario, @Nombre, @Apellido, @Email, @Telefono, @Referencia, @Estatus,@Respuesta);

        -- Obtener el IdSolicitud generado
        SET @Resultado = SCOPE_IDENTITY();

        -- Recuperar la referencia generada
        SET @ReferenciaGenerada = (SELECT Referencia FROM Solicitud WHERE IdSolicitud = @Resultado);
    END
    ELSE
    BEGIN
        SET @Mensaje = 'Esta Solicitud ya Existe!';
    END
END




--ALTER TRIGGER [dbo].[TRG_GenerarReferencia]
--ON [dbo].[Solicitud]
--AFTER INSERT
--AS
--BEGIN
--    SET NOCOUNT ON;

--    UPDATE s
--    SET s.Referencia = 
--        'REF-' +
--        CAST(YEAR(GETDATE()) AS VARCHAR(4)) + '-' +
--        RIGHT('000000' + CAST(s.IdSolicitud AS VARCHAR(6)), 6)
--    FROM Solicitud s
--    INNER JOIN inserted i ON s.IdSolicitud = i.IdSolicitud;
--END;



--select * from Solicitud
--select*from Cliente
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarUsuario]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AgregarUsuario]
@IdPuesto int, --valor foraneo
@Nombre varchar(50),
@Apellido varchar(50),
--@Puesto varchar(50),
@Telefono varchar(50),
@Email varchar(100),
@Password varchar(25),
@Restablecer bit,
@Estatus bit,
@Patron varchar(25),
@Mensaje varchar(500) output,
@Resultado int output
As
Begin
	Set @Resultado = 0
	If Not Exists (Select * From Usuario Where Email=@Email)
	Begin
		Insert Into Usuario
		(IdPuesto,Nombre,Apellido,Telefono,Email,Password,Restablecer,Estatus)
		values
		(@IdPuesto,@Nombre,@Apellido,@Telefono,@Email,EncryptByPassPhrase(@Patron,@Password),@Restablecer,@Estatus)
		Set @Resultado = (Select @@IDENTITY IdUsuario)
	End
	Else
		Set @Mensaje = 'El correo del usuario ya existe!'
End
--SP_AgregarUsuario 'Juan','Pérez','jp@gmail.com','123*',1,1,'D153ño'
--Update Usuario set Password=ENCRYPTBYPASSPHRASE('quejas2025','123*')
--SELECT 	IdUsuario,Nombre,Apellido,Puesto,Telefono,Email,CONVERT(varchar(25), DecryptByPassPhrase('quejas2025', Password)) AS ContrasenaDesencriptada,Restablecer,Estatus FROM Usuario

GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarCategoria]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 Create proc  [dbo].[SP_BuscarCategoria]
  as
  begin
  select * from Categoria
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarCliente]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_BuscarCliente]
as
begin
select * from Cliente
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarClientesLogIn]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BuscarClientesLogIn]
    @Email VARCHAR(100),
    @PasswordIngresada VARCHAR(100),
    @Patron VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        c.IdCliente,
        c.Nombre,
        c.Apellido,
        c.Telefono,
        c.Email,
        CONVERT(VARCHAR, DecryptByPassPhrase(@Patron, c.Password)) AS Password,
        c.Restablecer,
        c.Estatus
    FROM Cliente c
    WHERE 
        c.Email = @Email AND 
        CONVERT(VARCHAR, DecryptByPassPhrase(@Patron, c.Password)) = @PasswordIngresada AND
        c.Estatus = 1;
END

--SP ORIGINAL PERO AL PARECER NO FUNCIONA
--ALTER procedure [dbo].[SP_BuscarClientesLogIn]
--    @Email VARCHAR(100),
--    @PasswordIngresada VARCHAR(100),
--    @Patron VARCHAR(100)
--AS
--BEGIN
--    SET NOCOUNT ON;
--    SELECT 
--        IdCliente,
--        Nombre,
--        Apellido,
--        Telefono,
--        Email,
--        CONVERT(VARCHAR, DecryptByPassPhrase(@Patron, Password)) AS Password,
--        Restablecer,
--        Estatus
--    FROM Cliente
--    WHERE 
--        Email = @Email AND 
--        CONVERT(VARCHAR, DecryptByPassPhrase(@Patron, Password)) = @PasswordIngresada AND
--        Estatus = 1
--END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarEstado]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_BuscarEstado]
as
begin
select * from Estado
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarNotificaciones]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_BuscarNotificaciones]
as
begin
select * from Notificaciones where Leido !=1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarNotNoLeidaAdmin]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BuscarNotNoLeidaAdmin]
AS
BEGIN
SELECT * FROM NotificacionAdmin where Leido !=1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarPuesto]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_BuscarPuesto]
as
begin
select * from Puesto
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarRespuestaSolicitud]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BuscarRespuestaSolicitud]
as
begin
select* from RespuestaSolicitud
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarRoom]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BuscarRoom]
as
begin
select* from Room

end
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarSolicitud]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_BuscarSolicitud]
  as
  begin
  select * from Solicitud a
  inner join Categoria b on a.IdCategoria=b.IdCategoria
  Inner join Usuario c on a.IdUsuario=c.IdUsuario
  INNER JOIN Estado d on a.IdEstado=d.IdEstado

  end
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarSolicitudPorId]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BuscarSolicitudPorId]
    @IdSolicitud INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdSolicitud,
        IdCliente,
        IdCategoria,
        IdUsuario,
        IdEstado,
        Comentario,
        Nombre,
        Apellido,
        Email,
        Telefono,
		Estatus,
        Referencia
    FROM Solicitud
    WHERE IdSolicitud = @IdSolicitud;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarUsuario]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_BuscarUsuario]
as
begin
SELECT 
    u.IdUsuario,
    u.Nombre,
    u.Apellido,
    u.Telefono,
    u.Email,
    u.Password,
    u.Restablecer,
    u.Estatus,
    p.IdPuesto,
    p.NombrePuesto
FROM Usuario u
INNER JOIN Puesto p ON u.IdPuesto = p.IdPuesto
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarUsuarioLogIn]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BuscarUsuarioLogIn]
    @Email VARCHAR(100),
    @PasswordIngresada VARCHAR(100),
    @Patron VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.IdUsuario,
        u.Nombre,
        u.Apellido,
        u.Telefono,
        u.IdPuesto,
        p.NombrePuesto, 
        u.Email,
        CONVERT(VARCHAR, DecryptByPassPhrase(@Patron, u.Password)) AS Password,
        u.Restablecer,
        u.Estatus
    FROM Usuario u
    INNER JOIN Puesto p ON u.IdPuesto = p.IdPuesto
    WHERE 
        u.Email = @Email AND 
        CONVERT(VARCHAR, DecryptByPassPhrase(@Patron, u.Password)) = @PasswordIngresada AND
        u.Estatus = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CrearCuentaCliente]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CrearCuentaCliente]
    @Nombre VARCHAR(150),
    @Apellido VARCHAR(150),
    @Telefono VARCHAR(50),
    @Email VARCHAR(200),
    @PasswordTextoPlano VARCHAR(100),
    @Registrado BIT OUTPUT,
    @Mensaje VARCHAR(100) OUTPUT
AS
BEGIN
    DECLARE @PasswordEncriptada VARBINARY(MAX)

    -- Encriptar la contraseña combinando patrón y clave
    SET @PasswordEncriptada = ENCRYPTBYPASSPHRASE('quejas2025', @PasswordTextoPlano)

    IF NOT EXISTS (SELECT * FROM Cliente WHERE Email = @Email AND Telefono = @Telefono)
    BEGIN
        INSERT INTO Cliente (Nombre, Apellido, Telefono, Email, Password, Restablecer, Estatus)
        VALUES (@Nombre, @Apellido, @Telefono, @Email, @PasswordEncriptada, 1, 1)

        SET @Registrado = 1
        SET @Mensaje = 'Cliente registrado'
    END
    ELSE
    BEGIN
        SET @Registrado = 0
        SET @Mensaje = 'El correo ya existe'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCategoria]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_EliminarCategoria]
@IdCategoria int
As
Begin
	Delete from Categoria Where IdCategoria=@IdCategoria
End
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCliente]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_EliminarCliente] 
@IdCliente int
As
Begin
	Delete from Cliente Where IdCliente=@IdCliente
End
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarEstado]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_EliminarEstado]
@IdEstado int
As
Begin
	Delete from Estado Where IdEstado=@IdEstado
End
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarSolicitud]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_EliminarSolicitud] 
@IdSolicitud int
As
Begin
	Delete from Solicitud Where IdSolicitud=@IdSolicitud
End
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarUsuario]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ALTER Procedure [dbo].[SP_EliminarUsuario]
--@IdUsuario int
--As
--Begin
--	Delete from Usuario Where IdUsuario=@IdUsuario
--End

CREATE Procedure [dbo].[SP_EliminarUsuario]
@IdUsuario int
As
Begin
    -- Verificar si hay solicitudes relacionadas
    IF EXISTS (SELECT 1 FROM Solicitud WHERE IdUsuario = @IdUsuario)
    BEGIN
        RAISERROR('El usuario tiene una Solicitud asignada y no puede ser eliminado.', 16, 1)
        RETURN
    END

    DELETE FROM Usuario WHERE IdUsuario = @IdUsuario
End
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarTodaNotificacionAdmin]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ListarTodaNotificacionAdmin]
AS
BEGIN
SELECT * FROM NotificacionAdmin
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarTodasNotificaciones]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ListarTodasNotificaciones]
as
begin
select * from Notificaciones
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarCategoria]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_ModificarCategoria]
@IdCategoria int,
@Tipo varchar(100),
@Estado bit,
@Mensaje varchar(max) output,
@Resultado int output
As
Begin
Set @Resultado = 0
	--If Not Exists (Select * From Categoria Where IdCategoria!=@IdCategoria)
IF EXISTS (SELECT 1 FROM Categoria WHERE IdCategoria = @IdCategoria)
BEGIN
    UPDATE Categoria 
    SET Tipo = @Tipo, Estado = @Estado 
    WHERE IdCategoria = @IdCategoria

    SET @Resultado = 1
    SET @Mensaje = 'Categoría modificada correctamente.'
END
ELSE
BEGIN
    SET @Resultado = 0
    SET @Mensaje = 'No se encontró la categoría para modificar.'
END
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarCliente]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_ModificarCliente]
@IdCliente int,
@Nombre varchar(50),
@Apellido varchar(50),
@Telefono varchar(50),
@Email varchar(100),
@Password varchar(25),
@Restablecer bit,
@Estatus bit,
@Patron varchar(25),
@Mensaje varchar(max) output,
@Resultado int output
As
Begin
Set @Resultado = 0
	If Not Exists (Select * From Cliente Where IdCliente!=@IdCliente AND Email=@Email)
	Begin
	update Cliente set
		Nombre=@Nombre,Apellido=@Apellido,Telefono=@Telefono,Email=@Email,
		Password=EncryptByPassPhrase(@Patron,@Password),Restablecer=@Restablecer,Estatus=@Estatus
		where IdCliente=@IdCliente
		Set @Resultado = 1
End
	Else
		Set @Mensaje = 'El correo del usuario ya existe!'
End
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarEstado]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_ModificarEstado]
@IdEstado int,
@Estatus bit,
@EstadoActual varchar(50),
@Mensaje varchar(max) output,
@Resultado int output
As
Begin
Set @Resultado = 0
	--If Not Exists (Select * From Categoria Where IdCategoria!=@IdCategoria)
IF EXISTS (SELECT 1 FROM Estado WHERE IdEstado = @IdEstado)
BEGIN
    UPDATE Estado 
    SET EstadoActual = @EstadoActual,Estatus=@Estatus 
    WHERE IdEstado = @IdEstado

    SET @Resultado = 1
    SET @Mensaje = 'Estado Actualizado correctamente.'
END
ELSE
BEGIN
    SET @Resultado = 0
    SET @Mensaje = 'No se encontró Estado a Actualizar para modificar.'
END
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarSolicitud]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_ModificarSolicitud]
@IdSolicitud int,
@IdCliente int,
@IdCategoria int,
@IdUsuario int,
@IdEstado int,
@Comentario varchar(100),
@Nombre varchar(150),
@Apellido varchar(150),
@Email varchar(200),
@Respuesta nvarchar(500),
@Telefono varchar(50),
@Estatus bit,
@Referencia varchar(20),
@Patron varchar(25),
@Mensaje varchar(max) output,
@Resultado int output
As
Begin
Set @Resultado = 0
	If  Exists (SELECT 1 FROM Solicitud Where IdSolicitud!=@IdSolicitud)
	Begin
	update Solicitud set
		IdCliente=@IdCliente,
		IdCategoria=@IdCategoria,
		Referencia=@Referencia,
		IdUsuario=@IdUsuario,
		IdEstado=@IdEstado,
		Comentario=@Comentario,
		Nombre=@Nombre,
		Apellido=@Apellido,
		Telefono=@Telefono,
		Email=@Email,
		Estatus=@Estatus,
		Respuesta=@Respuesta
		where IdSolicitud=@IdSolicitud
		Set @Resultado = 1
End
	Else
		Set @Mensaje = 'La solicitud ya existe!'
End
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarUsuario]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_ModificarUsuario]
@IdUsuario int,
@IdPuesto int,
@Nombre varchar(50),
@Apellido varchar(50),
--@Puesto varchar(50),
@Telefono varchar(50),
@Email varchar(100),
@Password varchar(25),
@Restablecer bit,
@Estatus bit,
@Patron varchar(25),
@Mensaje varchar(max) output,
@Resultado int output
As
Begin
Set @Resultado = 0
	If Not Exists (Select * From Usuario Where IdUsuario!=@IdUsuario AND Email=@Email)
	Begin
	update Usuario set
		@IdPuesto=@IdPuesto,Nombre=@Nombre,Apellido=@Apellido,Telefono=@Telefono,Email=@Email,
		Password=EncryptByPassPhrase(@Patron,@Password),Restablecer=@Restablecer,Estatus=@Estatus
		where IdUsuario=@IdUsuario
		Set @Resultado = 1
End
	Else
		Set @Mensaje = 'El correo del usuario ya existe!'
End
GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteBusqueda]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ReporteBusqueda]
AS
BEGIN
    SELECT
        (SELECT COUNT(*) FROM Cliente) AS TotalCliente,
        (SELECT COUNT(*) FROM Solicitud) AS TotalSolicitud,
        (SELECT COUNT(*) FROM Solicitud WHERE IdCategoria = 1) AS TotalQueja,
        (SELECT COUNT(*) FROM Solicitud WHERE IdCategoria = 2) AS TotalSugerencia,
        (SELECT COUNT(*) FROM Solicitud WHERE IdCategoria = 10) AS TotalFelicitaciones
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ReportePorServicio]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReportePorServicio]
AS
BEGIN
    DECLARE @fecha_maxima DATE; -- fecha más reciente en la tabla
    DECLARE @fecha_minima DATE; -- dos meses antes, ajustado al primer día del mes

    SET @fecha_maxima = (SELECT MAX(Fecha) FROM [dbo].[Solicitud]);
    SET @fecha_minima = DATEADD(MONTH, -2, @fecha_maxima);
    SET @fecha_minima = DATEADD(DAY, -(DAY(@fecha_minima)-1), @fecha_minima);

    SELECT 
        c.Tipo AS TipoSolicitud,
        COUNT(*) AS Total
    FROM [dbo].[Solicitud] s
    INNER JOIN [dbo].[Categoria] c ON s.IdCategoria = c.IdCategoria
    WHERE s.Fecha BETWEEN @fecha_minima AND @fecha_maxima
    GROUP BY c.Tipo
    ORDER BY Total DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteSolicitud]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ReporteSolicitud] (
    @fechaInicio DATE,
    @fechaFin DATE,
    @referencia VARCHAR(50) )
AS
BEGIN
    SELECT  
        CONCAT(C.Nombre, ' ', C.Apellido) AS Clientes,
        CONVERT(VARCHAR(10), S.Fecha, 120) AS Fecha, -- Formato yyyy-MM-dd
      CASE 
            WHEN S.IdCategoria = 1 THEN 'Queja'
            WHEN S.IdCategoria = 2 THEN 'Sugerencia'
            ELSE 'Desconocido'
        END AS IdCategoria,        S.Referencia
    FROM Solicitud S
    INNER JOIN Cliente C ON C.IdCliente = S.IdCliente
    WHERE CAST(S.Fecha AS DATE) BETWEEN @fechaInicio AND @fechaFin
    AND   (@referencia = '' OR S.Referencia = @referencia)
END
--ALTER proc [dbo].[SP_ReporteSolicitud](
--@fechaInicio v,
--@fechaFin varchar(10),
--@referencia varchar(50)
--)
--as
--begin
--SELECT  
--    CONCAT(C.Nombre, ' ', C.Apellido) AS Clientes,
--    S.Fecha,
--    S.IdCategoria,
--    S.Referencia
--FROM Solicitud S
--INNER JOIN Cliente C ON C.IdCliente = S.IdCliente
--where S.Fecha between @fechaInicio and @fechaFin
--and   (@referencia = '' OR S.Referencia = @referencia)
--end

--EXEC [dbo].[SP_ReporteSolicitud] 
--    @fechaInicio = '2025-05-01', 
--    @fechaFin = '2025-05-08',
--    @referencia = 'REF-2025-000011';
GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteTotales]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc  [dbo].[SP_ReporteTotales]
as
begin
DECLARE @fecha_maxima DATE;--fecha mas reciente de la tabl
DECLARE @fecha_minima DATE;--dos meses antes que @fecha_maxima y ajustando el primer dia de ese mes

SET @fecha_maxima = (SELECT MAX(Fecha) FROM [dbo].[Solicitud]);--buscando fecha maxima
SET @fecha_minima = DATEADD(MONTH, -2, @fecha_maxima);--restamos 2 meses a fecha maxima. Establecemos un rango
SET @fecha_minima = DATEADD(DAY, -(DAY(@fecha_minima)-1), @fecha_minima);

SELECT 
    YEAR(Fecha) AS Anio,
    MONTH(Fecha) AS MesNumero,
    DATENAME(month, Fecha) AS Mes,
    COUNT(*) AS Cantidad
FROM [dbo].[Solicitud]
WHERE Fecha BETWEEN @fecha_minima AND @fecha_maxima
GROUP BY YEAR(Fecha), MONTH(Fecha), DATENAME(month, Fecha)
ORDER BY Anio, MesNumero;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ValidarUsuario]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ValidarUsuario](
@Email varchar(200),
@Password varbinary(max)
)as 
begin
if(exists (select * from Cliente where Email=@Email and Password=@Password))
		   select * from Cliente where Email=@Email and Password=@Password
		   else
		   select '0'
end
GO
/****** Object:  StoredProcedure [dbo].[ValidarLoginUsuarioCliente]    Script Date: 17/09/2025 23:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarLoginUsuarioCliente]
    @Email VARCHAR(100),
    @PasswordIngresada VARCHAR(100),
    @Patron VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Buscar en Usuario directamente
    IF EXISTS (
        SELECT 1 
        FROM Usuario 
        WHERE Email = @Email 
          AND Estatus = 1 
          AND CONVERT(VARCHAR(100), DECRYPTBYPASSPHRASE(@Patron, Password)) = @PasswordIngresada
    )
    BEGIN
        SELECT 
            'Usuario' AS Tipo,
            IdUsuario AS Id,
            Nombre,
            Apellido,
            Puesto
        FROM Usuario
        WHERE Email = @Email;
        RETURN;
    END

    -- Buscar en Cliente directamente
    IF EXISTS (
        SELECT 1 
        FROM Cliente 
        WHERE Email = @Email 
          AND Estatus = 1 
          AND CONVERT(VARCHAR(100), DECRYPTBYPASSPHRASE(@Patron, Password)) = @PasswordIngresada
    )
    BEGIN
        SELECT 
            'Cliente' AS Tipo,
            IdCliente AS Id,
            Nombre,
            Apellido
        FROM Cliente
        WHERE Email = @Email;
        RETURN;
    END

    -- No encontrado
    SELECT 'Error' AS Tipo, 'Credenciales inválidas o correo no registrado' AS Mensaje;
END

GO
USE [master]
GO
